.main {
    min-height: 80vh;
    width: 50%;
    margin: 10rem auto;

    @include respond(tablet-port) {
        margin-top: 5rem;
        width: 80%;    
    }

    @include respond(phone) {
        margin: 3rem 0 0 0;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;    
    }
}

.footer {
    background-color:  #096063;
    color: #fff;
    font-size: 2rem;
    height: 100px;
    padding: 2rem;
    text-align: center;
}