.main {
    min-height: 80vh;
    width: 50%;
    margin: auto;
    margin-top: 5rem;

    @include respond(tablet-port) {
        width: 80%;    
    }

    @include respond(phone) {
        margin: 0;
        margin-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 100%;    
    }
}

.footer {
    background-color:  #096063;
    color: #fff;
    font-size: 2rem;
    height: 100px;
    padding: 2rem;
    text-align: center;
}