.spelled {
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 5px #12989c;
    text-transform: uppercase;
    font-size: 4rem;
    color: #096063;

    @include respond(tablet-port) {
        font-size: 3rem;
    }

    @include respond(big-desktop) {
        font-size: 5rem;
    }

    &::before {
        content: "\1F508";
        font-size: inherit;
        padding-right: 5px;
    }

    &:hover::before {
        content: "\1F509";
        font-size: inherit;
        padding-right: 5px;
    }
}