.speaker {
    display: none;
}

.speaker-label {
    position: absolute;
    top: 10px;

    &::before { 
        border-radius: 50px;
        content: "\1F507";
        cursor: pointer;
        font-size: 2.5rem; 

        .speaker:checked + & {
            content: "\1F509";
        }
    }

    &:hover::before {
        background-color: #12989c;
        box-shadow: 0 0 20px #096063;
    }
}

.spelled {
    cursor: pointer;
    text-align: center;
    text-shadow: 0 0 5px #12989c;
    text-transform: uppercase;
    font-size: 4rem;
    color: #096063;

    @include respond(tablet-port) {
        font-size: 3rem;
    }

    @include respond(big-desktop) {
        font-size: 5rem;
    }

    .speaker:checked ~ &:hover::before {
        content: "\1F50A";
        font-size: inherit;
        padding-right: 5px;
    }
}

.number {
    margin-top: 2rem;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;

    @include respond(tablet-port) {
        font-size: 2rem;
    }

    @include respond(big-desktop) {
        font-size: 3rem;
    }

    &__up,
    &__down,
    &__value,
    &__reset {
        border-radius: 5px;
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }

    &__value {
        color: #096063;
        font-size: 4rem;

        @include respond(tablet-port) {
            font-size: 3rem;
        }

        @include respond(big-desktop) {
            font-size: 5rem;
        }
    }

    &__reset.btn {
        background-color: rgba(197, 56, 13, 0.836);
        line-height: 2.5;

        &:hover {
            box-shadow: 0 0 10px #e01111;
        }
    }
}
